@{
    ViewData["Title"] = "AuctionList";
}
@model IEnumerable<Antique_Shop.Models.Auction>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AuctionList</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>ReleaseDate</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var auction in Model)
                {
                    var imagePath = "~/images/" + (auction.ImagePath ?? "noimage.jpg");
                <tr>
                    <td>@auction.Id  </td>
                    <td>@auction.Name</td>
                    <td>@auction.ReleaseDate</td>
                    <td>@auction.Category</td>
                    <td>@auction.Price</td>
                    <td>@auction.Description</td>
                    <td>
                        <img class="card-img-top imageThumbnail" src="@imagePath"
                             asp-append-version="true" />
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>