@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Edit Data";
}
@model Antique_Shop.ViewModels.PersonalDataViewModel


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
                <h1 style="text-align: center;">Change Personal Data</h1><br />
                    <form method="post" class="form-group row" style="justify-content: center;">
                        <div style="margin-left: auto;margin-top: 0;margin-right: auto;margin-bottom: 0;">
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-id-card"></i> </span><input value="@Model.FirstName" asp-for="FirstName" class="form-control" placeholder="First name" />
                                </div>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="far fa-id-card"></i> </span><input value="@Model.LastName" asp-for="LastName" class="form-control" placeholder="Last name" />
                                </div>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fas fa-phone"></i> </span><input value="@Model.PhoneNumber" asp-for="PhoneNumber" class="form-control" placeholder="Phone number" />
                                </div>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div style="margin-right: auto;
                                    margin-left: auto;">
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-road"></i> </span><input value="@Model.Street" asp-for="Street" class="form-control" placeholder="Street" />
                            </div>
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fas fa-home"></i> </span><input value="@Model.ApartmentNumber" asp-for="ApartmentNumber" class="form-control" placeholder="Apartment number" />
                            </div>
                            <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fas fa-archive"></i> </span><input value="@Model.Postcode" asp-for="Postcode" class="form-control" placeholder="Postcode" />
                            </div>
                            <span asp-validation-for="Postcode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-building"></i> </span><input value="@Model.City" asp-for="City" class="form-control" placeholder="City" />
                            </div>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-outline-dark btn-sm mx-1" asp-action="Index" method="post" asp-controller="MyProfile">Cancel</button>
                        <button type="submit" class="btn btn-outline-dark btn-sm mx-1">Change data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>

@*
	<div class="row">
		<div class="col-md-12">
			<form method="post">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="FirstName"></label>
					<input asp-for="FirstName" class="form-control" />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="LastName"></label>
					<input asp-for="LastName" class="form-control" />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Street"></label>
					<input asp-for="Street" class="form-control" />
					<span asp-validation-for="Street" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ApartmentNumber"></label>
					<input asp-for="ApartmentNumber" class="form-control" />
					<span asp-validation-for="ApartmentNumber" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Postcode"></label>
					<input asp-for="Postcode" class="form-control" />
					<span asp-validation-for="Postcode" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="City"></label>
					<input asp-for="City" class="form-control" />
					<span asp-validation-for="City" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PhoneNumber"></label>
					<input asp-for="PhoneNumber" class="form-control" />
					<span asp-validation-for="PhoneNumber" class="text-danger"></span>
				</div>
				<button type="submit" class="btn btn-primary">Change data</button>
			</form>
		</div>
	</div>
*@