@{
	ViewData["Title"] = "My Profile";
}
@model Antique_Shop.Models.Account

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="jumbotron shadow-lg p-3 bg-white rounded">
					<h3 class="text-dark">My Profile</h3>
					<div>
						<div class="row justify-content-center my-4">
							<div class="mx-auto my-0">
								<div class="input-group-prepend my-2">
									<span class="input-group-text"> <i class="fa fa-id-card"></i> </span><label class="ml-2 pt-2"  style="max-width:120px;">@Model.FirstName</label>
								</div>
								<div class="input-group-prepend my-2">
									<span class="input-group-text"> <i class="far fa-id-card"></i> </span><label class="ml-2 pt-2"  style="max-width:120px;">@Model.LastName</label>
								</div>
								<div class="input-group-prepend my-2">
									<span class="input-group-text"> <i class="fa fa-envelope"></i> </span><label class="ml-2 pt-2"  style="max-width:120px;">@Model.Email</label>
								</div>
								<div class="input-group-prepend my-2">
									<span class="input-group-text"> <i class="fas fa-phone"></i> </span><label class="ml-2 pt-2"  style="max-width:120px;">@Model.PhoneNumber</label>
								</div>
							</div>
							<div class="mx-auto my-0">
								<div class="input-group-prepend my-2">
									<span class="input-group-text"> <i class="fa fa-road"></i> </span><label class="ml-2 pt-2" style="max-width:120px;">@Model.Street</label>
								</div>
								<div class="input-group-prepend my-2">
									<span class="input-group-text"> <i class="fas fa-home"></i> </span><label class="ml-2 pt-2" style="max-width:120px;">@Model.ApartmentNumber</label>
								</div>
								<div class="input-group-prepend my-2">
									<span class="input-group-text"> <i class="fas fa-archive"></i> </span><label class="ml-2 pt-2" style="max-width:120px;">@Model.Postcode</label>
								</div>
								<div class="input-group-prepend my-2">
									<span class="input-group-text"> <i class="fa fa-building"></i> </span><label class="ml-2 pt-2" style="max-width:120px;">@Model.City</label>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<form method="get" asp-controller="MyProfile" asp-action="EditPersonalData" class="mx-1">
								<button id="Button" type="submit" name="submit" formmethod="get" class="btn btn-outline-dark btn-sm">Change data</button>
							</form>
							<form method="get" asp-controller="MyProfile" asp-action="EditEmail" class="mx-1">
								<button id="Button" type="submit" name="submit" formmethod="get" class="btn btn-outline-dark btn-sm">Change email</button>
							</form>
							<form method="get" asp-controller="MyProfile" asp-action="EditPassword" class="mx-1">
								<button id="Button" type="submit" name="submit" formmethod="get" class="btn btn-outline-dark btn-sm">Change password</button>
							</form>
							<form method="get" asp-controller="MyProfile" asp-action="CloseAccount" class="mx-1">
								<button id="Button" type="submit" name="submit" formmethod="get" class="btn btn-outline-dark btn-sm">Close account</button>
							</form>
						</div>
					</div>
				</div>
				<div class="jumbotron shadow-lg p-3 bg-white rounded">
					<h3 class="text-dark">Past Auctions</h3>
					<div class="row justify-content-center my-4">
							&lt;List of items bought by this user&gt;<br />
							&lt;List of items sold by this user&gt;
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="jumbotron shadow-lg p-3 bg-white rounded">
					<h3 class="text-dark">My Wallet</h3>
					<div class="row justify-content-center my-4 text-dark">
						20zł
					</div>
				</div>
				<div class="jumbotron shadow-lg p-3 bg-white rounded">
					<h3 class="text-dark">My Auctions</h3>
					<div class="row justify-content-center my-4">
						&lt;List of items currently for sale by this user&gt;<br />
						&lt;List of items currently for lend by this user&gt;
					</div>
				</div>
				<div class="jumbotron shadow-lg p-3 bg-white rounded">
					<h3 class="text-dark">Lends and Borrows</h3>
					<div class="row justify-content-center my-4">
						&lt;List of items currently lent to someone by this user&gt;<br />
						&lt;List of items currently borrowed from someone by this user&gt;
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>