@{
	ViewData["Title"] = "Details";
}

@model Antique_Shop.Models.Auction

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
	<div class="container shadow-lg rounded" style="margin-top:-20px;">
		<!-- product -->
		<div class=" product-wrap product-deatil">
			<div class="row">
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div class="product-image">
						<div id="myCarousel-2" class="carousel slide">
							<div class="carousel-inner">
								@{var imagePath = "~/images/" + (Model.ImagePath ?? "noimage.jpg");
									<!-- Slide 1 -->
									<div class="item justify-content-center active">
										<img src="@imagePath" asp-append-version="true" class="mx-auto" alt="" />
									</div>
									<!-- Slide 2 -->
									<div class="item justify-content-center">
										<img src="@imagePath" asp-append-version="true" class="mx-auto" alt="" />
									</div>
									<!-- Slide 3 -->
									<div class="item justify-content-center">
										<img src="@imagePath" asp-append-version="true" class="mx-auto" alt="" />
									</div>
								}
							</div>
							<a class="left carousel-control" href="#myCarousel-2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
							<a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>

							<ol class="carousel-indicators">
								<li data-target="#myCarousel-2" data-slide-to="0" class="active"></li>
								<li data-target="#myCarousel-2" data-slide-to="1" class=""></li>
								<li data-target="#myCarousel-2" data-slide-to="2" class=""></li>
							</ol>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
					<h2 class="name">
						@Model.Name
						<small class="mt-1">by @Model.Author</small>
					</h2>
					<hr />
					<h3 class="price-container">
						$@Model.Price
					</h3>
					<hr />
					<div class="description description-tabs">
						<ul id="myTab" class="nav nav-pills">
							<li class="active"><a href="#specifications" data-toggle="tab" class="button button-dark">Specifications</a></li>
							<li class=""><a href="#more-information" data-toggle="tab" class="no-margin">Product Description </a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in" id="specifications">
								<br />
								<h4><label>ISBN:</label> @Model.ISBN</h4>
								<h4><label>Release Date:</label> @Model.ReleaseDate</h4>
								<h4><label>Genre:</label> @Model.Category.ToString()</h4>
								<h4><label>Condition:</label> @Model.Condition</h4>
								
							</div>
							<div class="tab-pane fade" id="more-information">
								<br />
								<p class="text-justify">@Model.Description</p>
							</div>
						</div>
					</div>
					<hr />
					<div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">

                            @if (Model.lendPeriod == 0)
                            {
                                <form method="post">
                                    <button type="submit" asp-controller="Auction" asp-action="Buy" asp-route-id="@Model.Id" class="btn btn-success btn-lg">
                                        Buy
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form method="post">
                                    <button type="submit" asp-controller="Auction" asp-action="Lend" asp-route-id="@Model.Id" class="btn btn-success btn-lg">
                                        Lend
                                    </button>
                                </form>
                            }
                        </div>
					</div>
				</div>
			</div>
		</div>
		<!-- end product -->
	</div>
	<script type="text/javascript">

	</script>
</body>
</html>
