@{
	ViewData["Title"] = "Home";
}
@model Tuple<IEnumerable<Auction>, Dictionary<Category, int>>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>AuctionList</title>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
		.form-control option:hover {
			background-color: #343a40 !important;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<aside class="col-md-3">
				<div class="card">
					<article class="filter-group">
						<div class="filter-content collapse show" id="collapse_1" style="">
							<div class="card-body">
								<form class="pb-3">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search">
										<div class="input-group-append">
											<button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
										</div>
									</div>
								</form>
							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group  .// -->
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down text-dark"></i>
								<h6 class="title text-dark">Price range </h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_3" style="">
							<div class="card-body">
								<div class="form-row">
									<div class="form-group col-md-6">
										<input class="form-control" placeholder="Min" type="number">
									</div>
									<div class="form-group text-right col-md-6">
										<input class="form-control" placeholder="Max" type="number">
									</div>
								</div> <!-- form-row.// -->
							</div><!-- card-body.// -->
						</div>
					</article> <!-- filter-group .// -->
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down text-dark"></i>
								<h6 class="title text-dark">Genres</h6>
							</a>
						</header>
						<div class="filter-content collapse hide" id="collapse_2" style="">
							<div class="card-body">
								@foreach (var cat in Model.Item2)
								{
									<label class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input">
										<div class="custom-control-label">
											@cat.Key.ToString()
											<b class="badge badge-pill badge-light float-right">@cat.Value</b>
										</div>
									</label>
								}
							</div> <!-- card-body.// -->
						</div>
					</article> <!-- filter-group .// -->
					<article class="filter-group">
						<header class="card-header">
							<a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="true" class="">
								<i class="icon-control fa fa-chevron-down text-dark"></i>
								<h6 class="title text-dark">Condition </h6>
							</a>
						</header>
						<div class="filter-content collapse show" id="collapse_5" style="">
							<div class="card-body">
								<label class="custom-control custom-radio">
									<input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
									<div class="custom-control-label">Any condition</div>
								</label>

								<label class="custom-control custom-radio">
									<input type="radio" name="myfilter_radio" class="custom-control-input">
									<div class="custom-control-label">New </div>
								</label>

								<label class="custom-control custom-radio">
									<input type="radio" name="myfilter_radio" class="custom-control-input">
									<div class="custom-control-label">Used</div>
								</label>
							</div><!-- card-body.// -->
						</div>
					</article> <!-- filter-group .// -->
					<article class="">
						<header class="card-header bg-white border-top">
							<button class="btn btn-block btn-dark">Apply Filters</button>
						</header>
					</article> <!-- filter-group .// -->
				</div> <!-- card.// -->

			</aside>
			<main class="col-md-9">

				<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<div class="pt-2">
							Found @Model.Item1.Count() items.
						</div>
						<span class="mr-md-auto"></span>
						<select class="mr-2 form-control">
							<option>Default view</option>
							<option>Title ascending</option>
							<option>Title descending</option>
							<option>Price ascending</option>
							<option>Price descending</option>
						</select>
						<div class="btn-group">
							<a href="#" class="btn btn-outline-dark" data-toggle="tooltip" title="" data-original-title="List view">
								<i class="fa fa-bars"></i>
							</a>
							<a href="#" class="btn  btn-outline-dark active" data-toggle="tooltip" title="" data-original-title="Grid view">
								<i class="fa fa-th"></i>
							</a>
						</div>
					</div>
				</header><!-- sect-heading -->

				<div class="row">
					@foreach (var auction in Model.Item1)
					{
						var imagePath = "~/images/" + (auction.ImagePath ?? "noimage.jpg");
						<div class="col-md-4">
							<figure class="card card-product-grid">
								<div class="img-wrap " style="height:350px;">
									<img src="@imagePath" asp-append-version="true" class="img-fluid">
								</div> <!-- img-wrap.// -->
                                <figcaption class="info-wrap">
                                    <div class="fix-height mb-2">
                                        <div class="text-lg-left">@auction.Name</div>
                                        <div class="text-dark"><k>@auction.Price</k>zł</div>
                                    </div>
                                    <form method="post">
                                        <button type="submit" asp-action="Details" asp-route-id="@auction.Id" method="post" asp-controller="Home"
                                                class="btn btn-block btn-dark">
                                            View Product
                                        </button>
                                    </form>
                                </figcaption>
							</figure>
						</div> <!-- col.// -->
					}
				</div> <!-- row end.// -->


				<nav class="mt-4">
					<ul class="pagination border-dark">
						<li class="page-item disabled" style="margin-right:1px;"><a class="btn btn-outline-dark" href="#">Previous</a></li>
						<li class="page-item active" style="margin-right:1px;"><a class="btn btn-outline-dark active" href="#">1</a></li>
						<li class="page-item" style="margin-right:1px;"><a class="btn btn-outline-dark" href="#">2</a></li>
						<li class="page-item" style="margin-right:1px;"><a class="btn btn-outline-dark" href="#">3</a></li>
						<li class="page-item"><a class="btn btn-outline-dark" href="#">...</a></li>
					</ul>
				</nav>

			</main>
		</div>
	</div>
</body>
</html>
